<div class="callout small" id="post-form">
  <table class="post-form">
    <tr>
      <td class="post-field">
        <%= form_for(@post) do |f| %>
        <%= f.text_area :content, placeholder: "What's on your mind, #{current_user.name} ?", class: "post-text" %>
      </td>
      <td>
        <button class="hollow button" id="add-photo-button" type="button" data-toggle="photo-dropdown">Add Photo</button>
          <div class="dropdown-pane white-background" id="photo-dropdown" data-dropdown data-auto-focus="true">
            <p>Upload an image to add to your post</p>
            <div class="row">
              <div class="medium-12 columns">
                <%= f.file_field :photo %>
              </div>
            </div>
          </div>
        </td>
        <td>
          <%= f.submit "Post", class: "button radius wide", id: "post-button"%>
        </td>
      </tr>
    </table>
  <% end %>
</div>
