<div class="callout small" id="post-form">
  <table class="post-form">
    <tr>
      <td class="post-field">
        <%= form_for(@post) do |f| %>
        <%= f.text_area :content, placeholder: "What's on your mind, #{current_user.name} ?", class: "post-text" %>
      </td>
      <td>
        <%= f.submit "Post", class: "button radius wide", id: "post-button" %>
      </td>
    </tr>
  <% end %>
  </table>
</div>