@import "foundation_and_overrides";

/* Add imports of custom sass/scss files here */
@import 'foundation-icons';

.row {
  margin-left: 10px;
  margin-right: 10px;
}
.wide {
  width: 100%;
}

#post-form {
  height: 70px;
}

#post-button {
  height: 50px;
}

.post-header .gravatar, .comment .gravatar {
  padding-right: 20px;
}

.comment-form {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0;

  td {
    padding: 0 0 0 0;
  }
}
.comment-field {
  width: 100%;
}
.comment-text {
  width: 95%;
  margin-right: 20px;
}


.fi-heart {
  font-size: 20px;
 } 
  .liked {
    color: red;
  }
  .not-liked {
    color: black;
  }

/* User grid on users index */
#user-grid {
  text-align: center;
}

.user-block {
  margin: auto;

  p {
    margin-top: 10px;
  }

  .button {
    margin-top: 10px;
    width: 120px;
  }

  h5 {
    margin-top: 10px;
  }
}




