@import "foundation_and_overrides";

/* Add imports of custom sass/scss files here */
@import 'foundation-icons';

.menu-wide {
  width: 400px;
  li {
    padding: 10px 20px 10px 20px;
  }
}
.fi-flag {
  color: white;
  font-size: 25px;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}
.wide {
  width: 100%;
}

#post-form {
  height: 80px;
}

#post-button {
  height: 50px;
}

.post-header .gravatar, .comment .gravatar {
  padding-right: 20px;
}

.comment-form, .post-form {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0;

  td, tr, tbody {
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
  }
}
.post-gravatar {
  width: 60px;
}

.comment-field, .post-field {
  width: 100%;
}

.comment-text, .post-text {
  width: 98%;
}


.fi-heart {
  font-size: 20px;
 } 
  .liked {
    color: red;
  }
  .not-liked {
    color: black;
  }

/* User grid on users index */
#user-grid {
  text-align: center;
}

.user-block {
  margin: auto;

  p {
    margin-top: 10px;
  }

  .button {
    margin-top: 10px;
    width: 120px;
  }

  h5 {
    margin-top: 10px;
  }
}




